<%= form_for([@service, @service.comments.build], remote: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
		<%= f.text_area :comment, autofocus: true, cols: "40", rows: "5", class:"form-control" %>
	</div>

	<%= f.submit "Добавить", class: "btn btn-success" %>
<% end %>

