/**
 * GMAIL Like chat css
 * CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
 *
 */


.chatbox {
    position: fixed;
    position: expression("absolute");
    width: 280px;
    display: none;
}

.chatboxhead {
    background: #666;
    color: white;
    padding: 0.5rem;
    overflow: hidden;

    border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);
}

.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}

.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    font-family: arial, sans-serif;
    height: 280px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
}

.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.chatboxcontent .avatar {
    width: 40px;
    position: relative;
}

.chatboxcontent .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
}

.self .chatboxmessagecontent {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
    width: 262px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}

.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;

}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chatboxtitle {
    float: left;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
	margin: 0 auto 0 auto;
}

.order{
	border-left: solid;
	font-size: 20px;
	padding:10px;
	font-family: 'PT Sans', sans-serif;
}

p{
	font-family: 'PT Sans', sans-serif;
}

span{
	color: #B2B2B2;
	font-family: 'PT Sans', sans-serif;
}
		
h1{
	line-height: 0.01em;
	font-family: 'PT Sans', sans-serif;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@import "bootstrap";
@import "bootstrap-sprockets";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       font-url('glyphicons-halflings-regular.woff') format('woff'),
       font-url('glyphicons-halflings-regular.ttf') format('truetype'),
       font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.row{ 
  margin: 0; padding: 0;
}

.service-form{
    margin: 20px;
}

h3{
   color: #3c3e50;
}

.followers_followable_count{
   
    a {
       color: #3c3e50;
       padding-right: 10px;
    }

    .badge{
        font-size:20px;
    }
}


.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.nav.navbar-nav a{
   color: #3c3e50;
   font-weight: bold;
}


.greeting {
	font-size: 56px;
	color: #ffff;
  text-align: center;
  margin-top: 100px;
}

.greeting-title{
   text-align: center;
}

.submit-button{
     background: #3c3e50;
     color: #ffffff;
     border-radius: 20px;
     font-weight: 400;
     font-size: 1.4em; 
     display: block;
     padding: 10px 14px 10px 14px; 
     text-decoration: none;
     margin-top: 40px;
     margin-bottom: 30px;
}

.order-button{
     background: #3c3e50;
     color: #ffffff;
     display: block;
     
}

.home-button{
     background: #3c3e50;
     color: #ffffff;
     border-radius: 20px;
     font-weight: 400;
     font-size: 1.4em; 
     display: block;
     padding: 10px 15px 10px 15px; 
     text-decoration: none;
     margin-top: 80px;
     margin-bottom: 30px;
}



.search-button{
    background: #3c3e50;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 35px;
    padding: 10px 14px 10px 14px;
}

.button{
    background: #3c3e50;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 14px 10px 14px;
       
}

.button.service-button{
    margin-left: 170px; 
   
    text-decoration: none;
    margin-top: 50px;
     
}

.button.service-button-close{
    background: #ffffff;
    color: #3c3e50;
    border: 2px solid #3c3e50;
    
    text-decoration: none;
    
}

.button.service-button#modal{
    margin-top: 50px;
    font-weight: 400;
    font-size: 1.4em; 
    padding: 10px 14px 10px 14px; 
}

.button.service-button-close#modal{
    margin-top: 50px;
    font-weight: 400;
    font-size: 1.4em; 
    padding: 10px 14px 10px 14px; 
}

.form-control{
	margin-top: 40px;
  
}

.form-control#search{
   margin-bottom: 25px;
}

#tab_2{
	margin-top: 10px
}

@media (max-width: 800px) {
	.greeting{
		padding-top: 10px;
	}
}


/* Slider sltyles */

body{
  padding-top:20px;
}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-right: 20px;
    margin-left: 20px;
}
/* The controlsy */
.carousel-control {
  left: -12px;
    height: 40px;
  width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.thumbnail{
   height: 200px;
}

.title_in_item{
   color: #3c3e50;
   text-align: center;
   font-size: 25px;
   padding-top: 45px;
}

/* Slider styles */

/* Service content and Follow, followers list styles */

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}

.post .post-description {
  padding: 15px;

}
.post .post-description p {
  font-size: 14px;

}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/* Service content and Follow, followers list styles */


/* Follow and followers list styles(addition)*/

.image {
   padding-right:10px;
}

.img{
   padding-right: 10px;
   padding-bottom: 20px;
}

/* instructions */

.carousel-inner .item, .modal-content {min-height:400px;}
.carousel-inner .item {padding: 100px 20px;}

.carousel-control{
   margin-top: 200px;
}

.item >  h3 {
    font-size: 50px;
}

.item > p{
  font-size: 20px;
}

/* instructions */

/* navbar */

.navbar-right{
  margin-right: 100px;
}

.home{
   background-color: #3c3e50;
   height: 600px;
}

.btn-group{
   display:block;
   float: right;
   
}

.btn-content{
   display:block;
   float: right;
   margin: 10px;
}




