<% @user.all_following.each do | user | %>
	<% user.services.order("created_at desc").each do |service| %>
		<div class="panel panel-white post panel-shadow">
  			   <div class="post-heading">
                    <div class="pull-left image">
                        <%= image_tag service.user.image.url, width:"70", height:"70" %>
                    </div>
                    <div class="pull-left meta">
                        
                            <a href="#"><b><%= service.user.company_name %></b></a>
                            добавила предложение
                        
                        <h6 class="text-muted time"><%= service.user.created_at %></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <%= service.content %>
               
                </div>
		</div>
	<% end %>
<% end %>