<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<h3 class="search_results_title">Подписчики:</h3>
	</div>				
</div>
<div class="row">
	<% if @user.followers.any? %>
		<% @user.followers.each do |user| %>
			<div class="col-md-7 col-md-offset-1">
				<div class="panel panel-white post panel-shadow">
		  			   <div class="post-heading">
		                    <div class="pull-left image">
		                         <%= image_tag user.image.url, width:"70", height:"60" %>
							</div>
		                    <div class="pull-left meta">
		                         <a href="#"><b><%= link_to user.company_name, user %></b></a>
		                         <h6 class="text-muted time">Была зарегистрирована <%= user.confirmed_at %></h6>
						    </div><br>
						</div> 
				 </div>	
			</div>
		<% end %>
	<% else %>
		<div class="col-md-7 col-md-offset-1">
			<h4>У пользователя пока нет подписчиков</h4>
		</div>
	<% end %>
</div>