<% @sender_usered_orders.each do | sender |%>
	<div class="panel panel-white post panel-shadow">
  		<div class="post-heading">
             <div class="pull-left image">
                    <%= image_tag sender.sender_user.image.url, width:"70", height:"70" %>
             </div>
             <div class="pull-left meta">
                  <a href="#"><b><%= link_to sender.sender_user.company_name, @user %></b></a>
                            отправила запрос
                  <h6 class="text-muted time"><%= sender.created_at %></h6>
             </div>
        </div> 
        <div class="post-description"> 
             <%= sender.description %>
        </div>
	</div>
<% end %>