

	<div class="row">
		<div class="col-xs-3 col-xs-offset-2 col-md-6 col-md-offset-4">
      		<h2 class="title">Поиск по категориям</h2>
      		<h4 style="color:#ffffff">Сделайте сортировку организаций по категориям</h4><br>    
  		</div> 
  	</div>
	<%= render 'layouts/search_by_category' %>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-1 ">
			<h3 class="search_results_title">Результаты поиска</h3>
		</div>				
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">			
		<% @users.each do |user| %>
			<div class="panel panel-white post panel-shadow">
				<div class="post-heading">
					<div class="pull-left image">
						<%= image_tag user.image.url,  height: '70', width: '70' %>	
					</div>
					<div class="pull-left meta">						
						<h3><%= link_to user.company_name, user , style:"color:#3c3e50;"%></h3>	
						<p>Представитель: <%= link_to "#{user.last_name} #{user.name} #{user.middle_name}" , user , style:"color:#3c3e50;"%></p>
					</div>

				</div>
				<div class="post-description">
						
				</div>

			</div>	
			
		<% end %>
		</div>
	</div>
	

	
