<div class="row">
		<div class="col-xs-3 col-xs-offset-2 col-md-6 col-md-offset-4">
		      <h2 class="title">Заказ услуги</h2>
		      <h4 style="color:#ffffff">Если вы желаете начать бартерную торговлю с юридическим лицом, напишите ему письмо</h4><br> 
		</div> 
		<%= form_for [current_user, @order], :html=>{ :multipart => true } do |f| %>
			<%= render 'layouts/error_messages', object: f.object %>
			<div class="col-md-10 col-md-offset-1 content">
        	 	<div class="col-md-8 col-md-offset-2">
					<div class="form-group"> <strong><p>
						<%= f.text_area :description, autofocus: true,  cols: "30", rows: "10", class:"form-control" %></p></strong> 
					</div><br>
					<div class="col-md-offset-4">
              			<%= f.submit "Отправить", class: "submit-button" %>
          			</div>
      	
        	 	</div>
        	</div>
		<% end %>
</div>











