<div class="row">
	<div class="col-xs-3 col-xs-offset-2 col-md-6 col-md-offset-4">
        <h2 class="title">Создание запроса</h2>
        <h5 style="color:#3c3e50;">Чтобы связаться с этой организацией, напишите письмо.</h5><br>
    </div>   
</div>

<%= render 'form' %>