<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Заказ товара</title>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/">	
</head>
<body>
	<h1>BarterCo</h1>
	<span>Онлайн площадка для бартерных отошений</span><br>
	<div class="email_text">
		<p style= "line-height: 2.0em;">Приветствуем <%= @order.recipient_user.company_name %>!!!</p>
		<p> Организация <%=  @order.sender_user.company_name %> заинтересована в ваших услугах</p>
		<p> Вам прислали сообщение:</p><br>
		<div class="order">
			<%= @order.description  %>  
		</div>	
		<p>Прислать ответ <%= @order.sender_user.email %> </p>
	</div>
</body>
</html>