body {
	margin: 0 auto 0 auto;
}

.order{
	border-left: solid;
	font-size: 20px;
	padding:10px;
	font-family: 'PT Sans', sans-serif;
}

p{
	font-family: 'PT Sans', sans-serif;
}

span{
	color: #B2B2B2;
	font-family: 'PT Sans', sans-serif;
}
		
h1{
	line-height: 0.01em;
	font-family: 'PT Sans', sans-serif;
s}