<div class="service-form">
	<h3>Добавить адрес</h3>
	<%= form_for [@location], :html=>{ :multipart => true } do |f| %>
			<div class="form-group">
				<%= f.text_field :address, class:"form-control" %>
			</div>
			<%= f.submit "Добавить", class: "button service-button" %>
		    <%= link_to "Отмена", :back , class: "button service-button-close" %>

		<% end %>
</div>

