<h2>Адрес</h2>
<%= @location.address %>

<p><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %></p> 

<h4>Ближайшие компании</h4>
<ul>
	<% for location in @location.nearbys(10) %>
		<li><%= link_to location.address, location %> (<%= location.distance.round(2) %> км)</li>
	<% end %>
</ul>
