<div class="row">
	<div class="col-xs-3 col-xs-offset-2 col-md-6 col-md-offset-3">
		<h1 class="greeting" style="color: #ffffff;">Добро пожаловать в BarterCo</h1>
		<h3 class="greeting-title" style="color: #ffffff;">Онлайн площадка для бартерных отношений.</h3>
	</div>
	
</div>