<div class="row">
	<div class="col-xs-3 col-xs-offset-2 col-md-6 col-md-offset-2">
		<h1 class="greeting" style="color: #FFFFFF;">Добро пожаловать в BarterCo!!!</h1>
		<h1 style="color: #3c3e50;">Онлайн площадка для бартерных отношений B2B</h1>
		<h4 style="color:#ffffff;">Хотите узнать по подробнее об этом ресурсе? Пройдите по ссылке </h4>
	</div>
</div>